<%= form_for @food, :html => { class: "form-horizontal food" } do |f| %>

  <% if @food.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @food.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :carbs, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :carbs, min: 0.0, step: 0.1,
          class: 'form-control' %>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:carbs) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fat, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :fat, min: 0.0, step: 0.1,
          class: 'form-control' %>
      <small>(g)</small>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:fat) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :protein, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :protein, min: 0.0, step: 0.1,
          class: 'form-control' %>
      <small>(g)</small>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:protein) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sodium, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :sodium, min: 0.0, step: 0.1,
          class: 'form-control' %>
      <small>(mg)</small>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:sodium) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sugar, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :sugar, min: 0.0, step: 0.1,
          class: 'form-control' %>
      <small>(g)</small>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <%=f.error_span(:sugar) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                foods_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
